.selector-wrap
{
    top: 0.8rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
}

.selector
{
    background-color: #17171A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    /* flex-wrap: wrap; */
    padding: 10px;
    gap: 10px;
    border-radius: 3rem;
}

.pill
{
    outline: none;
    border: none;
    font-size: 0.8rem;
    font-weight: 400;
    color: #B0B0B0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2rem;
    background-color: #1F1F2100;
    cursor: pointer;
    transition: background 0.3s ease-out;
}

.pill:hover
{
    background-color: #1F1F21FF;
    /* font-weight: 500; */
    /* transition: font-weight 0.3s ease-out; */
}

.pill:active
{
    background-color: #1F1F21FF;
    /* font-weight: 500; */
    transition: background 0.8s ease-out;
    /* transition: font-weight  1.4s ease-out; */
}

.pill-active
{   
    background-color: #1F1F21FF;
    /* font-weight: 500; */
    transition: background 0.8s ease-out;
    /* transition: font-weight 1.4s ease-out; */
    
}

@font-face {
    font-family: switzer;
    src: url(../fonts/Switzer-Variable.ttf);
}

.switzer
{
    font-family: switzer;
}

@media only screen and (max-width: 768px) {
    .selector-wrap
    {
        bottom: 1.5rem;
        top: auto;
        left: auto;
        right: 2em;
        transform: none; 
    }
    .selector
    {
        
        flex-wrap: nowrap;
        flex-direction: column;  
        /* width: 6rem; */
        width: auto;
        border-radius: 2rem;
    }
    .pill
    {
        /* border-radius: 3rem; */
        font-size: 1rem;
        width: 100%;
    }
}

